.Messageforall{
  font-size: 35px;
  background-color: yellow;
  text-align: center;
}
.container div p{
  font-size:20px;
  font-family: Nimbus san L;
  text-align: justify;
  text-indent: 60px;
  line-height: 1.5;
}
.container h1{
  font-family: times new roman;
}
.container h2{
  font-family: times new roman;
}
.container h3{
  font-family: times new roman;
}
.jumbotron {
  height: 500px;
  width: auto;
}
.container .RoadTrip {
  border-bottom-style: solid;
  border-color: black;
  text-align: left;
  font-family: lobster regular;
  font-size: 26px;
}
.container .destination {
  border-bottom-style: solid;
  border-color: #D8D8D8;
  text-align: left;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}
.container .rowNumb {
  font-family: sans-serif;
}
.container .page-header {
  height: 200px;
  background-size: 1400px 200px;
  font-size: 60px;
  font-family: 'Griffy', cursive;
}
